.content {
  width: 80%;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
}
.wrapper {
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.header {
  border-bottom: 1px solid #eee;
  background-color: #fff;
}
.information {
  color: #eee;
  margin-right: 5px;
}